@{
    ViewData["Title"] = "Home Page";
}

 <body style="background-image:url(/images/backimg.jpg); background-repeat: no-repeat;background-size:cover;">
<div >
  <div class='head'>
  <h1 class='company'style="font-size:50px; color:#C71585; font-weight: bolder; text-shadow: 1px 2px 3px #252525;">Welcome to Pratiniha's Matrimony</h1>
  </div>
   <p style="font-size: 20px; color: #FF1493; font-weight: bolder;">स्वागत है हमारे ऐप में... <br>
आए और अपने साथी को लेके जाए!!!</p>
  <section class='login' id='login'>
  <div class='head'>
  </div>
  <div class='form'>
    <form action="Home/newpage">
  <input type="text" placeholder='Username' class='text' id='username' required><br>
  <input type="password" placeholder='••••••••••••••' class='password'><br>
  <button type="submit" class='btn-login' id='do-login' >LOGIN</button>
    <br>
  <a href="#" class='forgot'>Forgot?</a>
    </form>
  </div>
</section>
</div>
 </body>